.helvetiDiv {
  width: 200px;
  /*margin: 30px;*/
  margin-left: auto; 
  margin-right: auto;
}

.helvetiH2 {
  font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.helvetiUl {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.helvetiLi {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}

.helvetiLi:last-child {
  border: none;
}

.helvetiLi a {
  text-decoration: none;
  color: #000;
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
  display: block;
  width: 200px;
}

.helvetiLi a:hover {
  font-size: 30px;
  background: #f6f6f6;
}
