/*Duplicate Green Sections*/
#videography, #popSpectrum 
{
    background: #18BC9C;
}
#videography .container .row .col-lg-12 h2, #popSpectrum .container .row .col-lg-12 h2
{
    color: white;
}

.tab-content .tab-pane .skills
{
    font-size: 1.75em; 
    font-weight: 800; 
}

@media (max-device-width: 480px)
{
    .tab-content .tab-pane .skills
    {
        font-size: 2.25em;
        margin-bottom: 20px;
    }
}

.selectedRow
{
    background-color: #18BC9C;
}

.navbar-fixed-top .navbar-collapse
{
    max-height: none;
}

.subIndent
{
    margin-left: 50px;
}

.list-group
{
    max-height: 400px;
    overflow-y: scroll;
    background-color: #AAB1B9;
}

.list-group-item
{
    color: black;
    height: 68px;
    background-color: #bfc5ca;
}

.list-group-item:hover
{
    background-color: #6b7784;
    cursor: pointer;
}

/*Tablet and Phone*/
@media (max-device-width: 1024px)
{  
    .list-group
    {
        max-height: 200px;
    }
    
    list-group-item
    {
        height: 68px;
    }
}

.list-group-item a
{
    color: black; 
    text-decoration: none;
}

.list-group-item a p
{
    line-height: 2;
}

/*Phone*/
@media (max-device-width: 360px) and (orientation: portrait)
{
    .list-group-item a p
    {
        font-size: 16px;
        line-height: 2.7;
    }
}